body {
    background-color: rgb(5, 36, 121);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif
}
.cartao {
    background-color: white;
    padding: 40px 30px;
    border-radius: 20px;
    text-align: center;
    align-items: center;
    display: flex;
    width: 350px;
    flex-direction: column;
    list-style: none;
}
button {
    background-color: red;
    color: white;
    border-radius: 25px;
    padding: 10px 20px;
    border: none;
    margin-bottom: 10px;
}
button:hover {
    background-color: rgb(124, 236, 102);
}
ul {
    list-style: none;
    padding: 0;
}
li {
    list-style: none;
    text-align: center;
    margin: 12px;
}
img {
    width: 120px;
    height: 120px;
    margin-bottom: 25px;
}
h1{
    margin-bottom: 10px;
    color: #1f3766;
}
h2{
    margin-bottom: 10px;
    font-size: 20px;
}
.subtitulo {
    font-size: 14px;
    margin-bottom: 25px;
    color: #777474;
}
.rodape {
    font-size: 14px;
    color: #777474;
    margin-top: 20px;
}